<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../../JS/vue.js"></script>
</head>
<body>
<div id="root">
    <h1>学校信息</h1>
    <h2>学校名称：{{name}}</h2>
    <h2>学校地址：{{address}}</h2>
    <hr>
    <h1>学生信息</h1>
    <button @click="add">添加一个sex属性，默认值为男</button>
    <h2>学生姓名：{{student.name}}</h2>
    <h2>学生年龄：{{student.age}}</h2>
    <h2 v-if="student.sex">学生性别：{{student.sex}}</h2>
    <h2>朋友们：</h2>
    <ul>
        <li v-for="p in student.friends">姓名：{{p.name}}-年龄：{{p.age}}</li>
    </ul>
</div>
</body>
<script>
    const vm = new Vue({
        el: '#root',
        data: {
            name: '河地大',
            address: '石家庄裕华区',
            student: {
                name: '小红',
                age: 23,
                friends: [
                    {name: '小杰', age: 23},
                    {name: '小菜', age: 22}
                ]
            },

        },
        methods: {
            add() {
                // set方法不能直接在vm和vm.data身上添加数据，会报错
                // Vue.set(this.student, 'sex', '男')
                this.$set(this.student, 'sex', '男')
            }
        }
    })
</script>
</html>